<p>The total sum of your transactions to date is: £<%= "%.2f" % @sum_total %></p>

<p>Filter total sum by tag:</p>

<form action="/banked" method="POST">

  <label for="tag-select"></label>
  <select name="id" id="tag-select">
    <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Go">

</form>

<p>The total sum of the <%= @tag.name %> tag is £<%= "%.2f" % @sum_tag_total %></p>
