<h1>Dashboard</h1>

<p><b>Budget: £<%= "%.2f" % @budget %></b></p>

<p>The total sum of your transactions to date is: £<%= "%.2f" % @sum_total %></p>

<% if @sum_total > @budget %>
  <p><b>Budget Warning: you have exceeded your budget by £<%= "%.2f" % (@sum_total-@budget) %>!</b></p>
<% end %>

<p>Filter total sum by tag, merchant and/or date:</p>

<form action="/banked" method="POST">

  <label for="tag-select"></label>
  <select name="id" id="tag-select">
    <option value="<%= @tag.id %>"><%= @tag.name %></option>
    <option value="null" disabled>------</option>
    <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Filter Spending">

</form>

<p>The total sum of the <%= @tag.name %> tag is £<%= "%.2f" % @sum_tag_total %></p>
