
  <div class="title">
    <h1>Tags</h1>
    <img height="75px" class="logo_sm" src="/images/banked_logo_final.png" alt="BankEd: You Can Bank On Ed!">
  </div>

  <div class="content">
    <div class="new_entry">
      <p class="indent"><b>Add A New Tag:</b></p>

      <form action="/banked/tags" method="POST">

        <label for="name">Tag:</label>
        <input type="text" name="name" id="name"/>

        <input type="submit" value="Add Tag">

      </form>
    </div>


    <div class="filter">
      <p class="indent"><b>Filter Tags by Value:</b></p>

      <form action="/banked/tags/filter_value" method="POST">

        <label for="value-select">By Value:</label>
        <select name="operator" id="value-select">
          <option value="<%= @operator_value %>"><%= @operator_name %></option>
          <option value="null" disabled>------</option>
          <option value="less">Less Than</option>
          <option value="greater">Greater Than</option>
        </select>

        <label for="value">Value (£):</label>
        <input type="number" name="value" id="value" value="<%= "%.2f" % @value %>" required/>

        <input type="submit" value="Filter By Value">

      </form>

      <a class="reset" href="/banked/tags">Reset Filter</a>
    </div>

    <table>
      <caption>Current Tags Filtered by Value <%= @operator_name %> £<%= "%.2f" % @value %></caption>
      <thead>
        <tr>
          <th scope="col">Tag ID</th>
          <th scope="col">Name</th>
          <th scope="col">Total Spend</th>
        </tr>
      </thead>
      <tbody>
        <% @tags.each do |tag| %>
          <% if @operator_value == "less" %>
            <% if Tag.sum_tag_values(tag.id) < @value.to_f %>
              <tr>
                <td data-label="Tag"><%= tag.id %></td>
                <td data-label="Name"><a href="/banked/tags/<%= tag.id %>"><%= tag.name %></a></td>
                <td data-label="Total Spend">£<%= "%.2f" % Tag.sum_tag_values(tag.id) %></td>
              </tr>
            <% end %>
          <% else %>
            <% if Tag.sum_tag_values(tag.id) > @value.to_f %>
              <tr>
                <td data-label="Tag"><%= tag.id %></td>
                <td data-label="Name"><a href="/banked/tags/<%= tag.id %>"><%= tag.name %></a></td>
                <td data-label="Total Spend">£<%= "%.2f" % Tag.sum_tag_values(tag.id) %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>

  </div>
